0x01-ES6_basics/node_modules
0x01-ES6_basics/*.yml
0x01-ES6_basics/.*


0x01-ES6_promise/node_modules
0x01-ES6_promise/.*
0x01-ES6_promise/*.yml

0x02-ES6_classes/node_modules
0x02-ES6_classes/.*
0x02-ES6_classes/*.yml

0x03-ES6_data_manipulation/node_modules
0x03-ES6_data_manipulation/.*
0x03-ES6_data_manipulation/*.yml

